<% page_name = "benefits" %>
    <%- include('partials/header.ejs', {page_name: page_name}) %>

        <p class="strong">The first benefit of agile development is early delivery, which greatly reduces costs.</p>
        <p class="strong">The second advantage of agile development is that it can keep abreast of market demand and reduce the risk that the product is not suitable.</p>
        <p>Because agile development can make trial and error, find out the most important function for the business, and then adjust the software direction through iteration. Compared with the traditional way, it greatly increases the possibility of product
            success. If the market demand is uncertain, or you are not familiar with the field, then agile development is almost the only viable response.</p>
        <img src="images/ckeditor-img.jpg" alt="" />

        <%- include('partials/footer.ejs') %>