<% page_name = "how" %>
    <%- include('partials/header.ejs', {page_name: page_name}) %>

        <p>Although agile development divides software development into multiple iterations, it also requires that each iteration is a complete software development cycle, and regular process management must be carried out according to the methodology of
            software engineering.
        </p>
        <p>Specifically, each iteration must complete the following five steps in turn.</p>
        <ul>
            <li>Requirements analysis</li>
            <li>Design</li>
            <li>Coding</li>
            <li>Testing</li>
            <li>Deployment / evaluation</li>
        </ul>
        <p>Each iteration lasts about 2-6 weeks.</p>
        <img src="images/kanban-4051777_1280.jpg" alt="" />

        <%- include('partials/footer.ejs') %>