<% page_name = "home" %>
    <%- include('partials/header.ejs', {page_name: page_name}) %>

        <p>Agile development is a very popular software development method. According to statistics, 90% of software development in 2018 adopts agile development.</p>
        <p>However, there are few people who can say what agile development is. This paper tries to explain agile development in simple and easy to understand language.</p>
        <img src="images/devops-business-process-improvement-development.jpg" alt="" />

        <%- include('partials/footer.ejs') %>