<% page_name = "principle" %>
    <%- include('partials/header.ejs', {page_name: page_name}) %>

        <ol>
            <li>Customer satisfaction and continuous customer satisfaction through early delivery.</li>
            <li>Welcome changing requirements, even in the late stages of project development. We should be good at using the change of requirements to help customers gain competitive advantage.</li>
            <li>Deliver available software over time, usually over a few weeks, as short as possible.</li>
            <li>Business people and developers must work together during the project.</li>
            <li>Projects must be built around individuals with intrinsic motivation, who should be trusted.</li>
            <li>Face to face conversation is the best way to communicate.</li>
            <li>Availability is the main indicator of progress.</li>
            <li>We should promote sustainable development and maintain a steady rate of progress.</li>
            <li>Constantly pay attention to whether the technology is excellent or not and whether the design is good.</li>
            <li>Simplicity is essential, minimizing unnecessary work.</li>
            <li>The best architecture, requirements and design come from spontaneous understanding within the team.</li>
            <li>The team should regularly reflect on how to be more effective and adjust accordingly.</li>
        </ol>

        <%- include('partials/footer.ejs') %>