<% page_name = "values" %>
    <%- include('partials/header.ejs', {page_name: page_name}) %>

        <div id="main_left">
            <ul>
                <li>The subjective initiative of programmers, as well as the interaction between programmers, is superior to the established processes and tools.</li>
                <li>Software works better than detailed documentation.</li>
                <li>Close cooperation with customers is better than contract and negotiation.</li>
                <li>Being able to respond to change is better than following the plan.</li>
            </ul>
        </div>
        <div id="main_right">
            <img src="images/8725063256_8c4f9c9001_c.jpg" alt="" />
        </div>

        <%- include('partials/footer.ejs') %>